<%= render("breadcrumbs") %>

<% unless @paid_cache_fragment.nil? %>
  <% cache("#{@paid_cache_fragment}", :expires_in => 30.minutes) do %>
  
  <% end %>
<% end %>

<div class="row-fluid">
	<div class="span5">
		<h3 class="heading">
			<%= current_site_logo %> &nbsp;
			<span style="margin-top: 5px;"><%= params[:status] || "Pending"%> Orders</span> 
		</h3>
	</div>
	

	<%= render("sublinks") %>
	

	<%= render :partial => "search", :locals => { :sites => @sites } %>

	<%= form_tag updatestatus_orders_path(:site_id => session[:site_id], :status => params[:status], :page => params[:page]), :remote => true, :id => "orders-list-form", :class => "hide" do %>
      <%= hidden_field_tag "mark-as", "" %>
	<% end %>
	
	<div class="pull-right input-append">
		 <select id="order-actions" name="order-actions">
		 	<option value="">Order actions</options>
		 	<option value="pending"><%= t('orders.mark_pending') %></option>
		 	<option value="unpaid"><%= t('orders.mark_unpaid') %></option>
		 	<option value="paid"><%= t('orders.mark_paid') %></option>
		 	<option value="submitted"><%= t('orders.mark_submitted') %></option>
		 	<option value="partially-shipped"><%= t('orders.mark_part_shipped') %></option>
		 	<option value="shipped"><%= t('orders.mark_shipped') %></option>
		 	<option value="cancelled"><%= t('orders.mark_cancelled') %></option>
		 </select>
		 <button type="submit" class="btn btn-gebo btn-order-actions">GO</button>
	</div>	
	
		<div style="clear:both"></div>


	
		<div>
			<select name="per_page" id="orders-perpage" style="width: 100px">
				<option value="15" <%= params[:per_page].to_i == 15 ? "selected" : '' %>>15 per page</option>
				<option value="25" <%= params[:per_page].to_i == 25 ? "selected" : '' %>>25 per page</option>
				<option value="50" <%= params[:per_page].to_i == 50 ? "selected" : '' %>>50  per page</option>
				<option value="100" <%= params[:per_page].to_i == 100 ? "selected" : '' %>>100  per page</option>
			</select>
            <span> <%= t(:total) %>: <%= @orders.total_entries %> </span>
			
			<% unless @result.nil? %>
				<span style="color: #ccc; font-size: 10px;" title="<%= @result[:missing_lines].map(&:orderorderid).uniq.inspect %>">
					&nbsp; &nbsp; <%= t('orders.missing_products') %>: <%= truncate(@result[:missing_lines].map(&:orderorderid).uniq.to_s, :omission => "...", :length => 60) %>
				</span>
			<% end %>
			
			<div class="pull-right">
	  		<%= will_paginate @orders, :class => "dataTables_paginate paging_bootstrap pagination" %>
	  	</div>
	  </div>

		<table class="table table-bordered mediaTable" id="orders-list">
			<thead>
				<tr>
					<th><%= check_box_tag "check_all", nil, nil, :class => "checkbox_all" %></th>
					<th class=""><%= t('orders.order_id') %></th>
					<th class=""><%= t('orders.customer_name') %></th>
					<th class=""><%= t('orders.customer_email')%></th>
					<th class=""><%= t('orders.shipping_country') %></th>
					<th class=""><%= t('orders.order_date') %></th>
					<th class=""><%= t('orders.order_status') %></th>
					<th class=""><%= t('orders.payment_method') %></th>
					<th class=""><%= t('orders.amount') %></th>
					<th class=""><%= t('orders.actions') %></th>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => "order", :collection => @orders %>
			</tbody>
		</table>
	
  <%= will_paginate @orders, :class => "dataTables_paginate paging_bootstrap pagination" %>
</div>

<% if params[:status].to_s == "Paid" %>
	<a class="ssw_preview-data vertical-text" id="preview-supplier-data">	<i class="icon-cog icon-white"></i><%= t('orders.preview_supplier_data') %></a>
	<div class="modal fade" style="" id="modalPreviewSupplierData"></div>
	<a data-toggle="modal" data-backdrop="static" href="#modalPreviewSupplierData" id="trigger-modal-preview"  class="hide"></a>
<% end %>

<script>
	$(function() {
		
		$(".checkbox_all").click(function() {
			if ($(".checkbox_all").is(':checked'))
				$("input[type=checkbox]").attr('checked', 'checked');
			else
				$("input[type=checkbox]").removeAttr('checked');
		});
		
		$(".btn-order-actions").click(function() {
			action = $("#order-actions option:selected").val();
			if (action == "") {
				alert("Please select an action");
				return false;
			}else{
				if ($("input[type=checkbox]:checked").length ==0) {
					alert("Please select an order.");
					$("#order-actions").val('');
					return false;
			  }else{
			  	cloned_table = $("#orders-list").clone();
			  	$("#orders-list-form").append(cloned_table);
                $("#mark-as").val($("#order-actions").val());
			  	var ans = confirm("Are you sure you want to proceed?");
			  	if (!ans){
						return false;
					}else{
						$("#orders-list-form").submit();
					}
			  }
			}
		});
	})
</script>