
<div class="row-fluid">
	<h3 class="heading">File: <%= @isd.file_name %></h3>

	<% if @missing.empty? %>
	  <h4 >No missing products from OC Database</h4>
	<% else %>
		<div>
			<h4>Products Missing From OC Database</h4>
			<ul>
				<% @missing.each do |row| %>
				<li>
					<%= row.inspect %>
				</li>
				<% end %>
			</ul>
		</div>
	<% end %> 

	<br/>
	<% if @recorded.empty? %>
	  <h4>No records found from OC Database</h4>
	<% else %>
		<div>
			<h4>OC Records</h4>
			
			<%
			headers = @recorded.first.attributes
			headers.delete("created_at")
			headers.delete("updated_at")
			headers.delete("id")
			%>
	
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Order ID</th>
						<th>Ext Product id</th>
						<th>Quantity</th>
						<th>Tracking Number</th>
						<th>Ship Date</th>
						<th>Filename</th>
					</tr>
				</thead>			
				
				 <tbody>
				 	<% @recorded.each_with_index do |row, indx| %>
					  <tr>
					  	<td><%= indx + 1 %></td>
					   	<td><%= row.order_id %> <%= "_#{row.ship_flag}" unless row.ship_flag.nil? %> </td>
					   	<td><%= row.ext_product_id %></td>
					   	<td><%= row.qty_shipped %></td>
					   	<td><%= row.tracking_num %></td>
					   	<td><%= format_date(row.ship_date, 'MdY') %></td>
					   	<td><%= row.file_name %></td>
					  <tr>
					<% end %>
				 </tbody>
			</table>		
			
			
		</div>
	<% end %> 
</div>
