<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Untitled Document</title>
	</head>
	<body>
		To whom this may concern,<br /><br />
      Here is today’s  orders.<br />                               
      Please see attached file. (Open with Open Office, select Unicode(UTF-8) encoding.)<br />
      Please let us know immediately if you have any questions.<br /><br />
    Best Regards.<br /><br />
			
			(This email is generated automatically.)<br /><br />
	</body>
</html>
