<% unless @isc_products.errors.empty?%>
  <div class="alert alert-error">
  <% @isc_products.errors.keys.each do |k| %>
    <a class="close" data-dismiss="alert">×</a>
    <%= k.to_s.capitalize %> <%= @isc_products.errors[k].first %> <br/>
  <% end %>
  </div>
<% end%>

<div id="addproduct-form" class="">
  <div id="product-errors"></div>
  <div class="row-fluid">
    <div class="span10">
      <h3 class="heading">Add new WS product</h3>
      <%= render :partial => "cart_form" %>  
    </div>
  </div>
</div>