<div class="row-fluid">
  <div class="span6">
    <h3 class="heading">Sales Invoice (generated <%= @generated_yr_mth.strftime("%B, %Y") %>)</h3>
  </div>
  
  <div class="clear"></div> 
  
  <div class="span9">
    <%= form_tag list_sales_invoice_accounts_path, :class => "well form-inline sales-invoice-search-form" do %>
      Generated Year-Month:
      <%= select_tag "yr_month", options_for_select(@available_generated_yr_mths, params[:gen_yr_month]), :class => "span2"%>
      <button type="submit" class="btn btn-success">Search</button>
    <% end %>
  </div>
  
 </div>
 
<div class="row-fluid">
<% 
  @files.each do |site, yr_mth_files_h|
%>
  <br/><h4 style="text-decoration: underline;"><%= site %></h4>
  <%= (yr_mth_files_h[@generated_yr_mth.strftime("%Y-%m")] == nil)? "Files Not found.<br/>".html_safe : "" %>
<%
    if (yr_mth_files_h[@generated_yr_mth.strftime("%Y-%m")] != nil) 
      yr_mth_files_h[@generated_yr_mth.strftime("%Y-%m")].each do |file|
%>
  <%= link_to file.split("/")[4], "download_generated_xls?sitecode=" + file.split("/")[3] + "&filename=" + file.split("/")[4] %><br/>
<%
      end
    end
  end
%>
</div>
